#root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: League Gothic;
  background-color: #000000;
}

.principal {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  width: 100%;
  max-width: 700px;
  gap: 15px;
  padding: 50px;
  margin: auto;
  margin-top: 15px;
  transition: transform 0.2s ease;
  padding-bottom: 20px;
}

.Principal:hover {
  transform: scale(1.05);
}

/*Trjeta video*/

.card-video {
  width: 100%;
  cursor: pointer;
  margin-bottom: 20px;
  background-color: #000000;
}


/*Miniaturas*/
.Miniatura-container {
  width: 100%;
  position: relative;
  aspect-ratio: 16 / 9;
}

.Miniatura, .video-preview {
  width: 100%;
  height: 100%;
  object-fit: cover; 
  border-radius: 15px;
}

/*Duración*/
.duration{
  position: absolute;
  bottom: 8px;
  right: 8px;
  background: #000000;
  color: #fff;
  font-size: 15px;
  padding: 3px 6px;
  border-radius: 4px;
  font-weight: 600;
  pointer-events: none;
}

/* Barra de progreso estilo YouTube */
.preview-progress-bar {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  height: 4px;
  background: rgba(255,255,255,0.2);
}

.preview-progress {
  height: 100%;
  background: #ff0000;
  width: 0%;
  transition: width 0.1s linear;
}

/*Info Video*/
.info {
  display: flex;
  flex-direction: row;
  align-items: flex-start;
  gap: 10px;
  padding: 0 5px;
  margin-top: 15px;
  transition: transform 0.2s ease;
}

.icon-canal {
  width: 40px;
  height: 40px;
  background: #666;
  border-radius: 50%;
  object-fit: cover;
}

/*Titulos*/
.info-Titulo { 
  flex: 1;
  display: flex;
  flex-direction: column;

}

.Titulo {
  color: white;
  font-size: 16px;
  font-weight: bold;
  margin: 0 0 3px;
  line-height: 1.2;
  text-align: left;
  max-width: 90%;

  overflow: hidden;
}

.Sub-Titulo {
  margin: 4px 0 0;
  color: #aaa;
  font-size: 13px;
  text-align: left;
}

/* Tres puntos */
.Menu {
  display: flex;
  align-items: flex-start;
  justify-content: center;
  font-size: 25px;
  color: white;
  font-weight: bold;
  padding-right: 5px;
  padding: 5px;
  user-select: none;
}

.loading {
  text-align: center;
  padding: 20px;
  color: #aaa;
}

/* Animación suave cuando aparece la vista previa */
.video-preview {
  animation: fadeIn 0.20s ease;
}

@keyframes fadeIn {
  from { opacity: 0.5; }
  to { opacity: 1; }
}
