#root{
  height: 100%;
  width: 100%;
  margin: 0;
  padding: 0;
  text-align: center;
  font-family: League Gothic;
  background-color: #000000;
}

.Videos{
    display: flex;
    flex-direction: row;
    justify-content: center;
    align-items: center;
    align-content: center;
}

.User-icon{
    background-color: #000000;
    display: flex;
    flex-direction: row;
    align-items: flex-start;
}

.Video-Nombre{
    
}