.Video-play {
  position: relative;
  width: 100%;
  aspect-ratio: 16 / 9;
  z-index: 1;
}

.Video-play iframe,
.Video-play video {
  position: absolute;
  top: 0;
  left: 0;
  z-index: 0 !important;
}

.VideoPlay-Info {
  padding: 12px;
  background-color: #000;
  border: 1px solid white;
  border-radius: 5px;
}

.VideoPlay-titulo {
  font-size: 18px;
  font-weight: bold;
}

.VideoPlay-sub {
  color: #aaa;
  margin-top: 4px;
}

.VideoPlay-Descripcion {
  margin-top: 10px;
  color: #ccc;
}


/* Recomendados */
.Recomendados {
  padding: 10px;
  margin-top: 15px;
}

.Reco-title {
  font-size: 18px;
  margin-bottom: 10px;
}

.Reco-card {
  display: flex;
  gap: 10px;
  margin-bottom: 15px;
  cursor: pointer;
}

.Reco-thumb {
  width: 45%;
  aspect-ratio: 16 / 9;
  border-radius: 10px;
  object-fit: cover;
}

.Reco-info {
  width: 55%;
}

.Reco-titulo {
  color: white;
  font-size: 15px;
  margin: 0;
}

.Reco-sub {
  color: #999;
  font-size: 13px;
  margin: 5px 0 0;
}

.Reco-loading {
  text-align: center;
  padding: 10px;
  color: #aaa;
}

/* Botón atrás */
.Video-Back {
  position: fixed;
  top: env(safe-area-inset-top, 10px);
  left: 10px;
  z-index: 999;
  background: rgba(0,0,0,0.6);
  padding: 8px;
  border-radius: 50%;
  color: white;
  border: none;
}
